<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fizco Enterprise</title>
<style>
      .topnav {
       background-color:#333;
       overflow: hidden;
       margin:0px;
       }

       .topnav a{
       padding:17px 18px;
       color:white;
       text-align:center;
       text-decoration:none;
       font-size:18px;
       float:left;
       }
       .topnav a:hover{
        color:hsl(233, 0%, 44%)
       }

</style>
    <div class="topnav">
    <a href="/home">Home</a>
    <a href="/home/about">About</a>
    <span style="float:right"><a>Sign up</a></span>
  </div>

</head>


<body>
<h1>This is about  the developer </h1>
</body>
</html>